{% extends "base_live.html" %}
{% block title %}微水洗车{% endblock %}
{% block css %}
    <style>
        .help-inline {
            display: block;
            margin-left: 70px;
            padding-top: 10px;
        }

        .error {
            color: #f00;
        }

        input.error {
            border-color: #f00;
        }

        .repair1, span, button {
            font-size: 15px;

        }

        tr:first-child {
            background-color: #f3f3f3;;
        }


        .prev {
            margin-left: 200px !important;
        }

        .next {
            margin-left: 20px !important;
        }

        .dataTables_wrapper {
            padding-left: 0px !important;
        }

        .dataTables_paginate {
            float: right;
            margin-top: -20px;
        }

        .dataTables_paginate li {
            float: left
        }

        .dataTables_filter {
            float: right;
            margin-top: -25px
        }

        .container {
{#            border: 1px solid red;#}
            width: 1171px !important;
        }
        .repair_header{
            margin-top: -10px;
            padding-top: 6px;
            height:32px;
            border-bottom: 1px solid #808080;
            background-color: #f3f3f3;

        }
         .repair_header_deal{
            margin-top: -10px;
            padding-top: 6px;
            height:32px;
            border-bottom: 1px solid #808080;
            background-color: #f3f3f3;

        }

             .repair_header li{
                padding-left: 116px;
                float: left;
              }


        .repair_header_deal li{
            padding-left: 89px;
            float: left;
        }

        .vessel .vessel_titBox {
            background: url("") repeat-x scroll 0 -226px rgba(0, 0, 0, 0);
            border-bottom: 2px solid #fe920f;
            height: 39px;
            line-height: 40px;!important
    }
        .vessel{
            border: 0px ;
        }

        .repair_right_container{

        }
        .once li{
            padding-left: 195px;
        }
        .repair_right_container li{
            float:left;
            text-align: center;
            padding-top: 8px;
            height: 80px;
{#            border: 1px solid red;#}
        }
      .border_style{
{#          border-left:2px solid #eeeeee#}
      }
    .btn_style{
        border:1px solid #dcdcdc;
        border-radius: 0px 0px 0px 0px;
        height:34px;
        border-bottom:1px solid #fe920f;
    }
    </style>

{% endblock %}
{% block right_container %}
            <!-- 中部 start -->
            <div style="width: 944px;overflow: auto;border-top: 0px;margin-left: 5px;float: left;background-color: #ffffff">
                  <div class="vessel vessel_s1" style="margin-bottom: 10px">
                        <div class="vessel_titBox">
                             <a href="/car_washing/?status=once"
                                class="btn_style btn_type btn {% if btn_style == 'once' %}btn-primary{% endif %} "
                                style="width: 70px">
                              单次
                             </a>


                            <a href="/car_washing/?status=month"
                               class="btn_style btn_type btn {% if btn_style == 'month' %}btn-primary{% endif %} "
                               style="width: 80px">
                               包月
                            </a>

                             <a href="/car_washing/?status=season"
                                class="btn_style btn_type btn {% if btn_style == 'season' %}btn-primary{% endif %} "
                                style="width: 70px">
                               包季
                             </a>
                            <a href="/car_washing/?status=year"
                               class="btn_style btn_type btn {% if btn_style == 'year' %}btn-primary{% endif %} "
                               style="width: 80px">
                               包年
                            </a>
                        </div>
                    </div>
                    {% if car_washing_info %}
                     <div class="repair_header">


                            {% if btn_style == 'once' %}
                               <ul class="once">
                                <li style="padding-left: 36px">业主信息</li>
                                <li>业主车牌号</li>
                                <li>洗车时间</li>
                                <li>洗车状态</li>
                               </ul>

                            {% else %}
                              <ul>
                                <li style="padding-left: 36px">业主信息</li>
                                <li style="padding-left: 100px">时间</li>
                                <li>洗车起始时间</li>
                                <li>洗车方案</li>
                                <li>业主车牌号</li>
                                <li style="padding-left: 68px">洗车详情</li>
                              </ul>
                            {% endif %}


                    </div>
                    {% ifequal btn_style 'once' %}
                         {% for info in car_washing_info %}
                        <div id="container_repair_{{ info.id  }}">
                            <div style="margin-top: 10px;background-color:#f3f3f3;padding:15px 0;">
                                <input type="checkbox" name="chk"style="margin-left: 10px;float: left;"id="{{info.id }}" class="chk_{{ info.id }}">
                                <span style="display:block;width:100px;margin-left: 15px;float: left">{{info.author.profile}}</span>
                                <span style="display:block;width:100px;float:left;margin-left: 150px">{{ info.other_car_num }}</span>
                                <span style="display:block;margin-left: 155px;float: left;">{{ info.start_time|date:"Y-m-d" }}</span>
                                {% ifequal info.washing_status 0 %}
                                 <span style="color: #fe920f;margin-left: 198px">未洗</span>
                                {% endifequal %}
                                {% ifequal info.washing_status 1 %}
                                 <span style="margin-left: 198px">已洗</span>
                                 {% endifequal %}
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                       {% for info in car_washing_info %}
                        <div id="container_repair_{{ info.id  }}">
                            <div style="margin-top: 10px;background-color:#f3f3f3;padding:15px 0 ;">
                                <input type="checkbox" name="chk"style="margin-left: 10px;float: left"id="{{info.id }}" class="chk_{{ info.id }}">
                                <span style="margin-left: 15px;float:left;display: block;width: 100px">{{info.author.profile}}</span>
                                <span style="margin-left: 35px;float: left;display: block;width: 100px">{{ info.apply_time|date:"Y-m-d" }}</span>
                                <span style="margin-left: 68px;float: left;display: block;width: 100px">{{ info.start_time|date:"Y-m-d"}}</span>
                                {% ifequal info.washing_case "1" %}
                                <span style="margin-left: 105px;float: left;display: block;width: 100px">方案一</span>
                                {% endifequal %}
                                {% ifequal info.washing_case "2" %}
                                <span style="margin-left: 105px;float: left;display: block;width: 100px">方案二</span>
                                {% endifequal %}
                                {% ifequal info.washing_case "3" %}
                                <span style="margin-left: 105px;float: left;display: block;width: 100px">方案三</span>
                                {% endifequal %}
                                <span style="margin-left: 65px;float: left;display: block;width: 100px">{{ info.other_car_num }}</span>
                                <a href="/car_washing/detail/?id={{ info.id }}&status={{ btn_style }}" style="margin-left: 38px">
                                         <font color="#fe920f">查看详情</font>
                                        </a>
                            </div>
                        </div>
                    {% endfor %}
                  {% endifequal %}
                   <div style="background-color:#dcdcdc;height: 40px;margin-top: 10px;padding-top: 8px;text-align: right">
             <div style="float: left">
                   <input type="checkbox" name="chk_all"style="margin-left: 5px;margin-top: -3px;" onclick="check_all(this)" >
                  <span>全选</span>&nbsp;&nbsp;
                   <button class='btn'
                       id="delete_item"
                       style=" background: url('/static/images/delete.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                        width: 76px;height: 28px;
                       margin-top:-3px
                       ">
                   </button>
             </div>

                                <span class="step-links">
                                    {% if car_washing_info.has_previous %}
                                        <a href="?page={{ car_washing_info.previous_page_number }}&status={{ btn_style }}">《上一页》</a> &nbsp;
                                    {% endif %}
                                    <span class="current">
                                         当前页： {{ car_washing_info.number }}/{{ car_washing_info.paginator.num_pages }}.
                                    </span> &nbsp;
                                    {% if car_washing_info.has_next %}
                                        <a href="?page={{ car_washing_info.next_page_number }}&status={{ btn_style }}">《下一页》</a>
                                    {% endif %}
                                    <span>跳转到:<input type="text"style="width: 30px" id="input_page"></span>
                                     <button id="decide_skip_page"class="btn"name="{{ btn_style }}"
                                    style="margin-left:5px;margin-right: 5px;margin-top: -1px;width: 42px;height: 25px;
                                    background: url('/static/images/sure.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);">
                                    </button>
                                </span>
                            </div>
                   </div>
                    {% endif %}
                    {% if not car_washing_info %}
                        <span style="display: block;padding: 10px 10px;font-size: 20px">暂无相关记录</span>
                   {% endif %}
</div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        function check_all(obj){
            var check_box = document.getElementsByName('chk');
            for(var i=0;i<check_box.length;i++)
                {check_box[i].checked = obj.checked;}
        }

        $(function () {
            $('#decide_skip_page').click(function(){
                var page_num = $('#input_page').val();
                var deal_status = $(this).attr('name');
                window.location.href = "/car_washing/?page=" + page_num+"&status="+deal_status+"";

            })

        $('#delete_item').click(function () {
                 var checked_array = new Array();
                $('input[type="checkbox"][name="chk"]:checked').each(
                        function () {
                            var id = $(this).attr('id');
                            checked_array.push(id);
                        }
                );
                var deal_person_id = $('#id_handler').val();
                if (checked_array.length > 0) {
                    $.post('/own_car_washing/delete/',
                            {
                                'id': checked_array.toString()
                            },
                            function (data) {
                                if (data.success) {
                                    alert(data.info);
                                    window.location.href="/car_washing/?status={{ btn_style }}"
                                }else{
                                    alert(data.info);
                                }
                            }
                    )
                } else {
                    alert("请选择要删除的数据");
                }
            });
        });
    </script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/DT_bootstrap.js"></script>
{% endblock %}
