{% extends "basecloud.html" %}
{% block title %}快递管理{% endblock %}
{% block css %}
    <link href="/static/css/jquery-ui-1.7.2.custom.css" rel="stylesheet">
    <style>
         .ui-datepicker {
              margin-left: -100px;
            }
        .help-inline {
            display: block;
            margin-left: 70px;
            padding-top: 10px;
        }

        .error {
            color: #f00;
        }

        input.error {
            border-color: #f00;
        }

        .repair1, span, button {
            font-size: 15px;

        }
       .modal-body ul li{
           float: left;
           padding-left: 43px;
           padding-top: 20px;

       }
        .rate-standard{
            margin-left: 144px;
        }
        .rate-standard span {
            padding-left: 25px;
        }
        .pleased{
            margin-left: 35px;
            width:100px;
            padding-left: 25px;
             margin-top: -18px;
            float:left;
        }
        .sr-shop-rating{
            float:left;
            margin-top: -20px;
        }

        tr:first-child {
            background-color: #f3f3f3;
        }

        .prev {
            margin-left: 200px !important;
        }

        .next {
            margin-left: 20px !important;
        }

        .dataTables_wrapper {
            padding-left: 0px !important;
        }

        .dataTables_paginate {
            float: right;
            margin-top: -20px;
        }

        .dataTables_paginate li {
            float: left
        }

        .dataTables_filter {
            float: right;
            margin-top: -25px
        }

        .container {
            width: 1019px !important;
        }

        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
            text-align: center;
            border-left: 0px;
            border-right: 0px;!important
        }

    #example tbody tr {
        height: 65px;
    }
    #example tbody tr td {

         background-color: #ffffff;
    }

    #example {
        border-left: 0px;
        border-right: 0px;
    }

    .vessel .vessel_titBox {
        background: url("") repeat-x scroll 0 -226px rgba(0, 0, 0, 0);
        border-bottom: 1px solid #fe920f ;
        height: 39px;
        line-height: 40px;!important
    }
    .vessel{
        border: 0px ;
    }
        .btn_style{
        border:1px solid #dcdcdc;
        border-radius: 0px 0px 0px 0px;
        height:34px;
        border-bottom:1px solid #fe920f;
    }

    </style>

{% endblock %}
{% block right_container %}

            <!-- 中部 start -->

            <div style="width: 789px;overflow: auto;float:left">
                <div class="vessel vessel_s1" style="margin-bottom: 10px">
                    <div class="vessel_titBox">
                         <a href="/express/?type=obtained" id='self_get'
                            class="btn_type btn {% if btn_style == 1 %}btn-primary{% endif %} "
                            style="border:1px solid #dcdcdc; border-radius: 0px 0px 0px 0px;height:34px;width: 70px">
                           已领取
                         </a>
                        <a href="/express/?type=not_obtained"id='property_send'
                           class="btn_type btn {% if btn_style == 2 %}btn-primary{% endif %} "
                           style="border:1px solid #dcdcdc; border-radius: 0px 0px 0px 0px;height:34px;width: 80px">
                            未领取
                         </a>
                        <button id='express_card' class="btn_type btn "style="border-radius: 0px 0px 0px 0px;
                        border: 1px solid #808080;
                        height:34px;width: 99px">
                            添加快递
                            <img style="margin-top: -5px" src="/static/images/plus_icon.png" />
                         </button>
                    </div>
                </div>
                <div  id="table_container">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable"
                       id="example" aria-describedby="example_info" >
                    <thead>
                    <tr role="row">
                        <th></th>
                        <th style="width:160px">业主信息</th>
                        <th>取件方式</th>
                        {% if btn_style == 1 %}
                        <th >取件时间</th>
                        {% elif btn_style == 2%}
                        <th >到达时间</th>
                        {% endif %}
                        {% if btn_style == 2 %}
                        <th>允许派送时间</th>
                        <th>签收/指派</th>
                        {% endif %}
                        {% if btn_style == 1 %}
                         <th>满意度</th>
                         <th>取件人</th>
                        <th>其他操作</th>
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>

                    {% for express in expresses %}
                        <tr class="except_one" id="tr_container_{{ express.id }}">
                            <td><input type="checkbox" name="chk" id={{ express.id }} class="chk_{{ express.id }}"></td>
                            <td >
                                <span>{{ express.author.community.title }}</span>小区，
                                <span>{{ express.author.floor }}</span>幢，
                                <span>{{ express.author.gate_card }}</span>房间，户主：
                                <span>{{ express.author.profile.username}}</span>
                            </td>
                            <td>
                                {% if express.type == '1' %}
{#                                    {{ express.type }}#}
                                    <span>物业派送</span>
                                {% elif express.type == '2' %}
                                    <span>自己领取</span>
                                {% endif %}
                            </td>
                            <td>
                                 {%if express.status %}
                                    {{ express.get_time | date:"Y-m-d H:i:s"  }}
                                {% else %}
                                    {{express.arrive_time| date:"Y-m-d H:i:s"  }}
                                {% endif %}
                            </td>
{#                            <td id="type_{{ express.id }}">{{ express.type }}</td>#}
                            {% if btn_style == 2 %}
                                <td class="deal_status" id="status_{{ express.id }}">
{#                                    <button class='btn'#}
{#                                      name='{{ express.id  }}'#}
{#                                      onclick="sign_express_single(this)"#}
{#                                      id="sign_in_single_{{ one_repair.id  }}"#}
{#                                      style=" background: url('/static/images/sign_in.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);#}
{#                                      width: 67px;height: 28px;#}
{#                                      margin-left: 22px;#}
{#                                      margin-top: 5px">#}
{#                                     </button>#}
                                    <span>{{ express.allowable_get_express_time }}</span>
                                </td>
                                <td>
                                     {% if express.type == '1' %}
                                       {% if express.is_admin_read %}
                                       <div style="margin-top: 3px">
                                           <select id="handler_express_{{express.id }}">
                                                {% for deal_person in deal_person_list %}
                                                    <option value="{{ deal_person.profile.id }}">{{ deal_person.profile.username }}</option>
                                                {% endfor %}
                                           </select>
                                             <button class='btn'
                                                  name='{{ express.id  }}'
                                                  onclick="dispatch_express(this)"
{#                                                  id="sign_in_single_{{ one_repair.id  }}"#}
                                                  style=" background: url('/static/images/dispatch.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                                                  height: 24px;
                                                  margin-left: -19px;
                                                  margin-top: -2px">
                                              </button>
                                       </div>
                                       {% else %}
                                          <span>已派遣</span>
                                       {% endif %}
                                    {% elif express.type == '2' %}
{#                                        <span>自己领取</span>#}
                                      <button class='btn'
                                      name='{{ express.id  }}'
                                      onclick="sign_express_single(this)"
                                      id="sign_in_single_{{ one_repair.id  }}"
                                      style=" background: url('/static/images/sign_in.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                                      width: 52px;height: 28px;
                                      margin-left: 22px;
                                      margin-top: 5px">
                                     </button>
                                    {% endif %}
                                </td>
                            {% endif %}
{#                            {% if is_admin %}#}
{#                                <td>{{ express.handler.username}}</td>#}
{#                            {% endif %}#}

                         {% if btn_style == 1 %}
                                <td>
                                    {% if express.pleased ==  1 %}
                                        <span>满意</span>
                                    {% elif express.pleased == 2 %}
                                        <span>一般</span>
                                    {% elif express.pleased == 3 %}
                                        <span>差</span>
                                    {% else %}
                                        <span>暂无</span>
                                    {% endif%}
                                </td>
                             <td>
                                {% if express.signer %}
                                    {{ express.signer }}
                                 {% else %}
                                    <span>自己领取</span>
                                 {% endif %}
                             </td>
                                <td>
                                    <button class='btn'
                                      name='{{ express.id  }}'
                                      onclick="delete_express_single(this)"
                                      id="delete_express_single_{{ express.id  }}"
                                      style=" background: url('/static/images/delete.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                                      width: 67px;height: 28px;
                                      margin-left: 22px;
                                      margin-top: 5px">
                                </button>
                                </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                 {% if btn_style == 2 %}
                    <div style="margin-top: -19px;margin-left: 180px;width: 159px">
                {#                        <input type="checkbox" name="chk_all"style="margin-left: 5px;margin-top: -3px" onclick="check_all(this)" >#}
                {#                        <span>全选</span>&nbsp;&nbsp;#}
                {#                        <button class='btn' name='{{ express.id  }}'onclick="user_get_express()"#}
                {#                                          id="batch_sign_in_{{ express.id  }}"#}
                {#                                          style=" background: url('/static/images/batch_sign_in.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);#}
                {#                                          width: 67px;height: 28px;#}
                {#                                          margin-top: -5px">#}
                {#                         </button>#}
                    </div>
                 {% endif %}
                </div>

                <div id="add_express_container" style="border-top: 1px solid #0793d2;background-color: #ffffff;height: 340px;margin-top: -11px;display: none ">

                    <div style="margin-top: 17px;padding-left: 13px">
                        <span>选择小区：</span>
                        <select id="community_select">
                            {% for community in communities %}
                                <option value="{{ community.id }}">{{ community.title }}</option>
                            {% endfor %}
                        </select>
                        <span>输入楼栋号</span>：<input type="text" name="building">
                        <span>输入房间号</span>：<input type="text" name="room">
                        <button class="btn btn-primary"style="border-radius: 0px 0px 0px 0px;height:30px;" onclick="decide_add_express()">
                         <span>确认</span>
                        </button>
                    </div>
{#                    <div style="border-top:1px solid #808080;margin-top: 20px;padding-top: 20px;padding-left: 10px;">#}
{#                         <button id='add_express' class="btn_type btn"style="border-radius: 0px 0px 0px 0px;#}
{#                         height:34px;#}
{#                         background-color: #ffffff;#}
{#                         width: 95px;">#}
{#                           <span>继续添加</span>#}
{#                           <img style="margin-top: -5px" src="/static/images/plus_icon.png" />#}
{#                         </button>#}
{#                    </div>#}


                </div>


            </div>
            <div class="el_blank_h10 fn_clear"></div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        function check_all(obj){
            var check_box = document.getElementsByName('chk');
            for(var i=0;i<check_box.length;i++)
                {check_box[i].checked = obj.checked;}
        }
        $(function(){
            $('.btn_type').click(function(){
                $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
            })
            $('#express_card').click(function(){
                $('#table_container').hide();
                $('#add_express_container').show();
            })
        })

        function dispatch_express(obj){
            var id = $(obj).attr('name');
            var deal_person_id = $("#handler_express_"+id+"").val();
            var checked_array = new Array();
            if($(".chk_"+id+"").attr("checked")){
                 checked_array.push(id);
                 $.post('/dispatch/express/',
                            {
                                'selected_express_string': checked_array.toString(),
                                'deal_person_id': deal_person_id
                            },
                            function (data) {
                                if (data.success) {
                                    alert(data.info);
                                    $(".chk_"+id+"").remove();
                                    $(obj).hide();
                                }
                                else{
                                    alert(data.info);
                                }
                            }
                    )

            }
              else {
                    alert("请选择处理数据");
                }

        }

        function find_user_express(obj)
            {
                 var community_id=$("#community_select").val();
                 var building_num=$('input[name="building"]').val();
                 var room_num=$('input[name="room"]').val();

                 $.post('/find/user_express/',
                        {
                            'community_id': community_id,
                            'building_num': building_num,
                            'room_num': room_num
                        },
                        function(data){
                            if(data.success){
                                $("#show_find").html("<span>"+data.community_name+"小区</span> <span>"+data.building_num+"幢</span> <span>"+data.room_num+"室</span>");
                                $("#no_result").hide();
                                $("#show_find_result").show();
                            }
                            else{
                                $("#show_find_result").hide();
                                $("#no_result").show();
                            }
                        }
                )
            }

        function decide_add_express()
            {
                var community_id=$("#community_select").val();
                var building_num=$('input[name="building"]').val();
                var room_num=$('input[name="room"]').val();

                $.post('/add/user_express/',
                        {
                            'community_id': community_id,
                            'building_num': building_num,
                            'room_num': room_num
                        },
                        function(data){
{#                             if(data.success){#}
{#                                $("#show_find").html("<span>添加成功</span>");#}
{#                                $("#show_find_result").show();#}
{##}
{#                            }#}
                            alert(data.info);

                        }
                )
            }
        function delete_express_single(obj){
            var id = $(obj).attr('name');
            var checked_array = new Array();
            if($(".chk_"+id+"").attr("checked")){
                 checked_array.push(id);
                 $.post('/delete/user_express/',
                            {
                                'selected_express_string': checked_array.toString()
                            },
                            function (data) {
                                if (data.success) {
                                    alert(data.info);
                                    $("#tr_container_" + id + "").remove();
                                }
                            }
                    )

            }
              else {
                    alert("请选择处理数据");
                }
        }
        function delete_user_express(){
                var checked_array = new Array();
                $('input[type="checkbox"][name="chk"]:checked').each(
                        function () {
                            var id = $(this).attr('id');
                            checked_array.push(id);
                        }
                );
                if (checked_array.length > 0) {
                    $.post('/delete/user_express/',
                            {
                                'selected_express_string': checked_array.toString()
                            },
                            function (data) {
                                  if(data.success){
                                        alert(data.info);
                                        window.location.href = "/express/";
                                  }
                            }
                    )
                } else {
                    alert("请选择处理数据");
                }
        }

        function sign_express_single(obj){
            var id = $(obj).attr('name');
            var checked_array = new Array();
            if($(".chk_"+id+"").attr("checked")){
                 checked_array.push(id);
                 $.post('/user/get_express/',
                            {
                                'selected_express_string': checked_array.toString()
                            },
                            function (data) {
                                if (data.success) {
                                    alert(data.info);
                                    $(".chk_"+id+"").remove();
                                    $(obj).remove();
                                }
                            }
                    )

            }
              else {
                    alert("请选择处理数据");
                }

        }

        function user_get_express(){
                var checked_array = new Array();
                $('input[type="checkbox"][name="chk"]:checked').each(
                        function () {
                            var id = $(this).attr('id');
                            checked_array.push(id);
                        }
                );
                if (checked_array.length > 0) {
                    $.post('/user/get_express/',
                            {
                                'selected_express_string': checked_array.toString()
                            },
                            function (data) {
                                if (data.success) {
                                    $('input[type="checkbox"][name="chk"]:checked').each(
                                            function () {
                                                var id = $(this).attr('id');
                                                window.location.reload();
                                            }
                                    );
                                }
                            }
                    )
                } else {
                    alert("请选择处理数据");
                }
        }

         function get_my_express(){
                var checked_array = new Array();
                $('input[type="checkbox"][name="chk"]:checked').each(
                        function () {
                            var id = $(this).attr('id');
                            checked_array.push(id);
                        }
                );
                var get_express_type = $('#select_express_type').val();
                var get_express_time = $('#datetime').val();
                if (checked_array.length > 0) {
                    $.post('/userself/get_express/',
                            {
                                'selected_express_string': checked_array.toString(),
                                'get_express_type': get_express_type,
                                'get_express_time': get_express_time
                            },
                            function (data) {
                                if (data.success) {
                                    alert(data.info);
                                    $('input[type="checkbox"][name="chk"]:checked').each(
                                            function () {
                                                var id = $(this).attr('id');
                                                $("#type_" + id + "").html("<span style='color: green' >"+data.express_type+"</span>");
                                            }
                                    );
                                }
                                else{
                                    alert(data.info);
                                }
                            }
                    )
                } else {
                    alert("请选择处理数据");
                }
         }

        function submit_express_data(obj){
            var response_content=$("#textarea").val();
            var selected_radio=$('input[type="radio"]:checked').val();
            var checked_array = new Array();
            $('input[type="checkbox"][name="chk"]:checked').each(
                        function () {
                            var id = $(this).attr('id');
                            checked_array.push(id);
                        }
                );
            if(selected_radio && checked_array.length > 0){
                $.post('/express/response/',
                        {
                            'selected_express_string': checked_array.toString(),
                            response_content:response_content,
                            selected_radio:selected_radio
                        },
                        function(data){
                            if(data.success){
                                 alert(data.info);
                                window.location.href = "/express/";
                            }
                        }
                )
            }else{
                alert("请选择评价快件和满意度");
            }

        }

        $(document).ready(function () {
        $('#datetime').datepicker({
                duration: '',
                showTime: true,
                constrainInput: false
            });
        });

        $(document).ready(function () {

            $('#example').dataTable({
                "iDisplayLength": 5,
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, 20]
                ],
                "bSort": true,
                "oLanguage": {
                    "sLengthMenu": "显示 _MENU_每页显示记录",
                    "sZeroRecords": "对不起没有你要找的记录",
                    "sInfo": "显示 _START_ 到 _END_ 总共 _TOTAL_ 条记录",
                    "sInfoEmpty": "显示 0 到 0 总共 0 记录",
                    "sInfoFiltered": "(从 _MAX_条记录中查找)",
                    "sSearch": "搜索:"
                }
            });
        });
        jQuery(function($){
            $.datepicker.regional['zh-CN'] = {
                closeText: '确定',
                prevText: '<上月',
                nextText: '下月>',
                currentText: '今天',
                monthNames: ['一月','二月','三月','四月','五月','六月',
                '七月','八月','九月','十月','十一月','十二月'],
                monthNamesShort: ['一','二','三','四','五','六',
                '七','八','九','十','十一','十二'],
                dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
                dayNamesMin: ['日','一','二','三','四','五','六'],
                weekHeader: '周',
                dateFormat: 'yy-mm-dd',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: true,
                yearSuffix: '年'};
            $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
});
    </script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/DT_bootstrap.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/timepicker.js"></script>
{% endblock %}
