{% extends "baseheader.html" %}
{% block title %}投诉意见{% endblock %}
{% block css %}
     <style>
            <!--
            .qq-upload-button {
                left: 0;
                top: 0;
                color: #9C9B9B;
                text-align: center;
                line-height: 100px;
                font-weight: bold;
                position: absolute;
                cursor: pointer;
            }
            -->
        </style>
{% endblock %}
 {% block container %}
        <!-- 主要内容区域 start -->
        <div class="s_ifs_ix main el_container">
            <div class="el_blank_h20"></div>
            <!-- 右侧栏 start -->
            <div class="el_w_974 fn_right">
                <!-- vessel start -->
                <div class="vessel vessel_s1">
                    <div class="vessel_titBox"><span class="tit">投诉</span></div>
                    <div class="vessel_conBox">
                        <!--缴费步骤 start-->
                        <form enctype="multipart/form-data" id="pepair-form"  action="/complain/create/" method="post">
                            <div class="um_mn_box">
                                <table class="table" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="80" height="25"><label class="baoxiu radio"></label></td>
                                        <td width="80"><label class="tousu radio"></label></td>
                                        <td rowspan="2" align="right"><!--电话 start-->
                                            <div style="margin-top:10px;background:url('/static/images/phone2.png') no-repeat ;position:inherit;width: 260px;height: 68px;border:1px solid #86c632">
                                                <div style="margin-right: 12px;margin-top: 8px">
                                                    <span style="color:#86c632"><font size="3px"><strong>客服电话:0000-123-456</strong></font></span>
                                                </div>
                                                <div style="margin-right: 5px;margin-top: 8px">
                                                    <span style="color:#86c632"><font sixe="3px"><strong>节假日不休24小时为您服务</strong></font></span>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="baoxiu" colspan="2" height="50">
                                            <select style="width:130px;" name="category">
                                                <option value="安全投诉">安全投诉</option>
                                                <option value="环境投诉">环境投诉</option>
                                                <option value="员工投诉">员工投诉</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><span class="txt txt_1">投诉内容：</span>
                                            <textarea name="content" class="el_inText" style=" margin:10px 0 20px 0;"></textarea></td>
                                    </tr>
                                </table>

                                <div class="tousu_box" id="reviewContent" style="background: url('/static/images/background.png') no-repeat">
                                    <img style="display: none; width:120px;height:120px;" alt="" src=""
                                         class="upload_image img-polaroid ">
                                </div>
                                  <span class="file1">
                                      <div class="qq-upload-button" style="position: relative; overflow: hidden; direction: ltr;"id="show_upload_image">上传图片</div>
                                       <input type="file" class=" input" style="display:none" id="upload_complain_img" name="upload_complain_img"
                                         target="#reviewContent"/>
                                  </span>
                                  <div class="line"></div>
                                  <span class="last_text_box1">
                                     <button class="el_btn_orange_xsl el_btn" type="submit" style="background: url('/static/images/submit1.png') no-repeat;width:106px;height: 36px"><span class="txt">提交</span></button>
                                  </span>
                           </div>
                        </form>
                    </div>
                </div>
                <!-- vessel end -->
            </div>
            <div class="el_blank_h10 fn_clear"></div>
            <div class="el_blank_h50 fn_clear"></div>
        </div>
    <!-- page -->
{% endblock %}
{%block  script %}
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.imgreview.js"></script>
<script type="text/javascript">
$(function(){
    $('#show_upload_image').click(function(){
            $('#upload_complain_img').trigger('click');
        })
})
</script>
{% endblock  %}
