{% extends "base_old.html" %}
{% block title %}首页{% endblock %}
{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if username %}
                    <a class="navbar-brand" href="/dashboard/">亨通物业管理平台</a>
                {% else %}
                    <a class="navbar-brand" href="/index/">亨通物业管理平台</a>
                {% endif %}
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../shine">晒一晒</a>
                    </li>
                    <li>
                        <a href="../css">晒二晒</a>
                    </li>
                    <li>
                        <a href="../components">晒三晒</a>
                    </li>
                    <li>
                        <a href="../javascript">晒四晒</a>
                    </li>
                    <li>
                        <a href="../customize">晒五晒</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <a class="btn btn-info" href="/profile/">{{ username }}</a>
                    <a class="btn btn-primary" href="/logout/">登出</a>
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div>

{% endblock %}