{% extends "baseheader.html" %}
{% block title %}物业缴费{% endblock %}
{% block css %}
    <style>
        body{
            background-color: #ffffff;
        }

        .vessel_conBox_text_head {
            border-bottom: 1px solid #808080;
        }

        input[type="radio"], input[type="checkbox"] {
            line-height: normal;
            margin: 0px;!important
        }

        .payment_btn {
{#            background: url("/static/images/property_submit.png") no-repeat ;#}
            color: #FFFFFF;
            font-family: "微软雅黑";
            font-size: 18px;
            height: 40px;
            line-height: 43px;
            text-align: center;
            width: 115px;
{#}#}
    </style>
{% endblock %}
{% block container %}
<!-- 主要内容区域 start -->
<div class="s_ifs_ix main el_container">
<!-- 左侧栏 start -->
    <div class="el_w_700 fn_left">
        <!-- vessel start -->
        <div class="vesse vessel_s1">
            <div class="vesse_titBox">
                <span class="tit">物业缴费</span>
            </div>
            <div class="vessel_conBox">
                <!--缴费步骤 start-->
                <div class="vessel_conBox_step">
                    <div class="vessel_conBox_step_head">
                        <span class="stepName stepName_s1">选择物业</span>
                        <span class="stepName stepName_s2">缴费清单</span>
                        <span class="stepName stepName_s3">在线支付</span>
                        <span class="stepName stepName_s4">缴费成功</span>
                    </div>
                </div>
                <!--缴费步骤 end-->
                <!--步骤1内容 start-->
                <div class="vessel_conBox_text">
                    <div class="vessel_conBox_text_head">
                        <button class="btn"onclick="my_property()" style="border-radius: 0px 0px 0px 0px;background-color: #ffffff">
                             <span class="tit" >我的物业</span>
                        </button>

{#                        <button class="btn" onclick="add_property()" style="border-radius: 0px 0px 0px 0px;background-color: #ffffff">#}
{#                            <span class="tit"style="margin-left: 10px" >增加物业</span>#}
{#                            <img style="margin-top: -4px" src="/static/images/propery_add.png" />#}
{#                        </button>#}


                    </div>
                    <div class="vessel_conBox_text_content" style="border:1px solid #f1f1f1;height: 160px" id="self_property">
                     <p>{{ profile.community.title }}小区{{ profile.floor }}栋{{ profile.gate_card }}号</p>
                    </div>
{#                    <div class="vessel_conBox_text_content" style="border:1px solid #f1f1f1;height: 160px;display: none"id="property_add">#}
{#                        <div style="height: 30px;background-color: #f1f1f1;padding: 3px 10px">#}
{#                            <span>物业增加</span>#}
{#                        </div>#}
{#                        <div style="padding:10px 20px">#}
{#                            <p>#}
{#                                <span>所在小区：</span><input type="text" style="width: 100px;height: 25px;">#}
{#                            </p>#}
{#                            <p>#}
{#                                <span>楼栋房号：</span><input type="text"style="width: 100px;height: 25px;">#}
{#                            </p>#}
{#                            <button onclick="express_back_list()" class="btn" style="height: 25px;width:65px;#}
{#                                border-radius: 0px 0px 0px 0px;padding-top: 2px;#}
{#                                margin-left: 70px">#}
{#                               <span ><font size=2px>保存</font></span>#}
{#                            </button>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="vessel_conBox_text_head">#}
{#                        <span class="tit">缴费地址</span>#}
{#                    </div>#}
                    <form action="/user/pay_property_by_year/" method="post" name="property-fees-form" id="add_property_fees">
                        <div class="vessel_conBox_text_content paymethod"style="height: 20px;padding-bottom: 36px">
{#                            <p>&nbsp;</p>#}
{#                            <input type="radio" name="property_type_list" value="0"  id="property_month" >#}
                            <label for="property_month">&nbsp;按年缴费</label>
{#                            &nbsp;&nbsp;&nbsp;&nbsp;#}
{#                            <input type="radio" name="property_type_list" value="1"   id="property_before" ><label for="property_before">&nbsp;预缴费</label>#}
                        </div>
                        <div class="payment_button"><button  type="submit" id="btn_by_property" class="el_btn payment_btn" ></button></div>
                    </form>
                 </div>
                <!--步骤1内容 end-->
            </div>
        </div>
    <!-- vessel end -->
    </div>

</div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
    function add_property(){
        $('#property_add').show();
        $('#self_property').hide();
    }
    function my_property(){
        $('#property_add').hide();
        $('#self_property').show();
    }
     function skip_by_property_way(){
         var pay_type =$('input[type="radio"]:checked').val();
         if(pay_type ==0){
             $('form').attr('action','/user/pay_property_by_month/');
         } else if(pay_type == 1){
            $('form').attr('action','/user/prepare_pay_property_fees/');
         }else{
             alert('选择缴费方式');
         }


     }
    </script>
{% endblock %}