<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/css/index_test.css">
</head>

<body>
<div id="servicesBox">

<div class="serviceBlurb firstServiceBlurb">
<a href="/index/"><img src="static/images/branding.gif" alt="Identity and Branding Image"></a>
<h3>Branding and Identity</h3>
<p>Whether you need a new logo and matching business materials, or just an update to an existing logo, I can help you develop a cohesive and well-structured visual identity for your company.</p>
</div>

<div class="serviceBlurb">
<img src="/static/images/website.gif" alt="Website Design Image">
<h3>Website Design</h3>
<p>I can help you determine your business’ target audience and organize your website’s content in a way that puts the most important information front and center.</p>
</div>

<div class="serviceBlurb lastServiceBlurb">
<img src="/static/images/planningIcon.jpg" alt="Consulting and Maintenance Image">
<h3>Consulting and Maintenance</h3>
<p>Have an idea for a website, but not sure where to start? Need a little maintenance done on an existing site? I can help!</p>
</div>

<div class="clear"></div>

</div><!-- close servicesBox -->

</body></html>