{% extends "baseheader.html" %}
{% block title %}停车缴费{% endblock %}
{% block css %}
    <style>
        #add .add_box {
            border: 1px solid #DADADA;
            height: 186px;
            padding: 19px;
            width: 660px;
        }
    </style>
{% endblock %}
{% block container %}
    <!-- 主要内容区域 start -->
    <div class="s_ifs_ix main el_container">
        <div class="el_blank_h20"></div>
        <!-- 右侧栏 start -->
        <div class="el_w_974 fn_right">
            <!-- vessel start -->
            <div class="vessel vessel_s1">
                <div class="vessel_titBox">
                    <span class="tit">停车费</span>
                </div>
                {% if show_detail_info %}
                                    <div class="vessel_conBox">
                    <!--缴费步骤 start-->
                    <div class="vessel_conBox_step">
                        <div class="vessel_conBox_step_head">
                				<span class="stepName stepName_s1">
                                        私家车
                                </span>
                    			<span class="stepName stepName_s2">
                                    车位
                                </span>
                            <span class="stepName stepName_s3">在线支付</span>
                            <span class="stepName stepName_s4">支付成功</span>
                        </div>
                    </div>
                    <!--缴费步骤 end-->
                    <!--步骤1内容 start-->
                    <div class="vessel_conBox_text">

                        <div class="vessel_conBox_text_head">
                            <span class="vessel_conBox_step_head1">所有停车卡</span>
                        </div>


                        <!--增加部分隐藏 start-->
                        <form action="/user/property/verifyParking/" method="post" name="parking-fees-form" onsubmit="return check_radio()">
{#                            <div id="add" style="display: block;">#}
                                <div class="el_tipPop_h_i">
{#                                    <span class="title">增加停车卡</span>#}
                                </div>
                                <div class="add_box">
                                    <p>
                                        <span>所在小区：</span>
                                        <input disabled = 'disabled'  class="func_position xiaoqu el_btn" type="text" value="{{ profile.community.title }}"
                                               get_position_pid="" get_position_cid="" get_positionid="">
                                    </p>

                                    <p>
                                        <span>楼栋房号：</span>
                                        <input disabled = 'disabled'  class="func_building_parking xiaoqu el_btn" type="text" value="{{ profile.floor }}栋{{ profile.gate_card }}">
                                    </p>
                                    {% for park_type in park_fee %}
                                        <p>
                                                <span>车位类型：</span>{{ park_type.park_type }}&nbsp;&nbsp;&nbsp;
                                                <span>有效期：</span>{{ park_type.pay_date|date:"Y-m-d" }}至{{ park_type.deadline |date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
                                                <span>车位号</span>{{ park_type.position_num }}&nbsp;&nbsp;&nbsp;
                                                <input value="{{ park_type.id }}" name="radiobutton" type="radio">
                                        </p>
                                    {% endfor %}
                                </div>
{#                            </div>#}
                            <!--增加部分隐藏 end-->
                            <div class="vessel_conBox_text_button">
                                <div>
                                    <input type="submit" value="立即缴费" class="el_btn_orange_xsl el_btn btn_by_parking"/>
                                </div>
                            </div>
                        </form>

                        <div class="line"></div>
                        <div class="last_text_box">

                        </div>
                    </div>
                    <!--步骤1内容 end-->
                </div>
                {% else %}
                    <div style="height: 300px;">
                        <h1>首次购买请联系物业！</h1>

                    </div>
                {% endif %}
            </div>
            <!-- vessel end -->
        </div>
        <!-- 右侧栏 end -->
        <div class="el_blank_h10 fn_clear"></div>
        <div class="el_blank_h50 fn_clear"></div>
    </div>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        function check_radio(){
            var flag =false
            myObj=document.getElementsByName('radiobutton');
            for(i=0;i<myObj.length;i++){
                if(myObj[i].checked){
                    flag=true
                };
            };
            if (flag){
                  return true;
            }else{
                alert('请选择缴费项');
                return false;
            }
        }
    </script>
{% endblock %}