{% extends "baseheader.html" %}
{% block title %}物业缴费{% endblock %}
{% block css %}
{% endblock %}
{% block container %}
    <div class="s_ifs_ix main el_container">
			<div class="el_blank_h20"></div>
              <!-- 右侧栏 start -->
            <div class="el_w_974 fn_right">
            	<!-- vessel start -->
                <div class="vessel vessel_s1">
                    <div class="vessel_titBox">
                        <span class="tit">物业缴费</span>
                    </div>
                    <div class="vessel_conBox">
                    <!--缴费步骤 start-->
                    	<div class="vessel_conBox_step3">
                        	<div class="vessel_conBox_step_head">
                				<span class="stepName stepName_s1">
                				<a style="color: #FFF" href="javascript:history.go(-1);">
                					选择物业
                				</a>
                				</span>
                    			<span class="stepName stepName_s2">
                    			<a style="color: #FFF" href="javascript:history.go(-1);">
                    			  缴费清单
                    			</a>
                    			</span>
                   				<span class="stepName stepName_s3">在线支付</span>
                                <span class="stepName stepName_s4">缴费成功</span>
                			</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

