{% extends "baseheader.html" %}
{% block title %}会员注册{% endblock %}
{% block container %}

    <!-- 主要内容区域 start -->
    <div class="s_lrf_reg main el_container">
        <div class="main_inner">
            <!-- 注册框 start -->
            <form class="form-horizontal" id="site-form" action="/register/" method="post">
                {% csrf_token %}
                <div class="lrf_regBox lrf_optBox fn_left">
                    <div class="titItem">
                        <i class="icon"></i>
                        <span class="title">添加用户</span>
                    </div>
                    <div class="optItem">
                        <div class="optItem_item">
                            <label class="el_lab">用 户 名：</label>
                            <input class="el_inText" placeholder="请填写手机号/用户名" name="username"
                                   id="id_username" type="text" required autofocus/>
                            {% if username_error %}
                                <span style="color:red;" class="help-inline error tip">{{ info }}</span>
                            {% else %}
                                <span class="tip">字母、数字、下划线组成，3位以上</span>
                            {% endif %}
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">密　　码：</label>
                            <input class="el_inText" placeholder="请填写密码" name="password"
                                   id="id_password" type="password" required/> <span
                                class="tip">字母、数字组成，6-15位</span>
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">重复密码：</label>
                            <input class="el_inText" placeholder="重复密码" name="repeatPwd"
                                   id="id_repeatPwd" type="password" required/>
                            {% if password_error %}
                                <span style="color:red;" class="help-inline error tip">{{ info }}</span>
                            {% endif %}
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">小    区：</label>
                            <select class="el_inText" id="id_community" name="community">
                                {% for community in communities %}
                                    <option value="{{ community.id }}">{{ community.title }}</option>
                                {% endfor %}
                            </select>
                            {% if communities|length == 0 %}
                                <span style="color:red;" class="help-inline error tip">没有社区可以选择，请联系管理员</span>
                            {% endif %}
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">楼　　栋：</label>
                            <input class="el_inText" placeholder="请填写楼栋号" name="floor"
                                   id="id_floor" type="text" required/>
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">门 牌 号：</label>
                            <input class="el_inText" placeholder="请填写门牌号" name="gate_card"
                                   id="id_gate_card" type="text" required/>
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">住房面积：</label>
                            <input class="el_inText" placeholder="请填写住房面积（必须为数字）" name="house_acreage"
                                   id="id_acreage" type="text" required/>
                            {% if acreage_error %}
                                <span style="color:red;" class="help-inline error tip">{{ info }}</span>
                            {% endif %}
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">详细地址：</label>
                            <input class="el_inText" placeholder="请填写详细地址" name="address"
                                   id="id_address" type="text" required/>
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">手机号码：</label>
                            <input class="el_inText" placeholder="手机号码" name="mobile"
                                   id="id_mobile" type="text" required/>
                            {% if mobile_error %}
                                <span style="color:red;" class="help-inline error tip">{{ info }}</span>
                            {% endif %}
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">电子邮箱：</label>
                            <input class="el_inText" placeholder="请填写电子邮箱地址" name="email"
                                   id="id_email" type="email" required/>
                            {% if email_error %}
                                <span style="color:red;" class="help-inline error tip">{{ info }}</span>
                            {% endif %}
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">权　　限：</label>
                            <select class="el_inText" id="is_admin" name="is_admin">
                                <option value="0">业　　主</option>
                                <option value="1">工作人员</option>
                                <option value="2">管 理 员</option>
                            </select>
                        </div>
                        <div class="optItem_item optItem_item_btns">
                            <button type="submit" class="el_btn_orange_xl el_btn"><span class="txt">立即注册</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 注册框 end -->

            <!-- 注册页面侧栏 start -->
            <div class="lrf_regSideBox lrf_sideBox fn_right">
                <dl class="conList">
                    <dt class="title">怎样成为我们的会员？</dt>
                    <dd class="con">
                        <ol class="list">
                            <li class="list_item">1、注册成为我们会员;</li>
                            <li class="list_item">2、完善物业资料;</li>
                            <li class="list_item">3、审核通过;</li>
                        </ol>
                    </dd>
                    <dt class="title">成为我们的会员有什么好处？</dt>
                    <dd class="con">
                        <ol class="list">
                            <li class="list_item">1、方便快捷的物业服务;</li>
                            <li class="list_item">2、周边优惠信息一网打尽;</li>
                            <li class="list_item">3、天天特价每天一个惊喜;</li>
                        </ol>
                    </dd>
                </dl>
            </div>
            <!-- 注册页面侧栏 end -->
            <div class="fn_clear"></div>

        </div>
    </div>

{% endblock %}