{% extends "baseheader.html" %}
{% block title %}天天超市{% endblock %}
{% block css %}
<style>
ul {list-style-type: none;}
li{float: left;}
.warp{padding:10px 20px 20px 20px;width: 220px;height: 310px}
.list{with:800px}
</style>
{% endblock %}
<body>
{% block container %}
<div class="list">
    <ul>
        <li>
         <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_001.jpg" width="180" height="200">
          </div>
          <div class="contain">
          <span>产品名称:康师傅红烧牛肉面</span>
          <span>规格:105g/桶</span>
          </div>
          <div class="price">
           <span>套装价格:3=10.2元  6=21元</span>
           <span>单价:3.5元</span>
          </div>
          </a>
          </div>
        </li>

         <li>
           <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_002.jpg" width="180" height="200">
          </div>
          <div class="contain">
          <span>产品名称:康师傅香辣牛肉面</span>
          <span>规格:105g/桶</span>
          </div>
          <div class="price">
           <span>套装价格12=42元</span><br>
           <span>单价:3.7元</span>
          </div>
          </a>
          </div>
        </li>

         <li>
           <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_003.jpg" width="180" height="200">
          </div>
          <div class="contain">
          <span>产品名称:康师傅 香辣牛肉面 享辣拌面</span>
          <span>规格:126g/碗 </span>
          </div>
          <div class="price">
           <span>套装价格:6=28.8元</span>
          </div>
          </a>
          </div>
        </li>

         <li>
          <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_004.jpg" width="180" height="200">
          </div>
          <div class="contain">
          <span>产品名称:康师傅 方便粉丝(香醋酸辣汤)</span><br>
           <span>规格:44g</span><br>
          </div>
          <div class="price">
            <span>套餐价格:6=20.4元</span><br>
           <span>单价;3.4元</span>
          </div>
          </a>
          </div>
        </li>

         <li>
           <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_005.jpg" width="180" height="200">
          </div>
          <div class="contain">
          <span>产品名称:康师傅 方便粉丝(咖喱牛肉汤)</span><br>
           <span>规格:37g</span><br>
          </div>
          <div class="price">
           <span>套餐价格:6=22.8元</span><br>
           <span>单价:3.8元</span>
          </div>
          </a>
          </div>
        </li>

         <li>
           <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_006.jpg" width="180" height="200">
          </div>
           <div class="contain">
          <span>产品名称:康师傅 咸酥夹心饼干（醇香奶油味）</span><br>
           <span>规格:240g/袋</span><br>
          </div>
          <div class="price">
           <span>单价:9.9元</span>
          </div>
          </a>
          </div>
        </li>

         <li>
           <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_007.jpg" width="180" height="200">
          </div>
          <div class="contain">
          <span>产品名称:康师傅 蛋黄也酥酥（原味）</span><br>
           <span>规格:240g/袋</span><br>
          </div>
          <div class="price">
           <span>单价:8.36元</span>
           </div>
          </a>
          </div>
        </li>

         <li>
           <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_008.jpg" width="180" height="200">
          </div>
          <div class="contain">
          <span>产品名称:康师傅 彩笛卷（草莓口味）</span><br>
           <span>规格:40g/盒</span><br>
          </div>
          <div class="price">
           <span>单价:3.6元</span>
           </div>
          </a>
          </div>
        </li>

         <li>
           <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_009.jpg" width="180" height="200">
          </div>
          <div class="contain">
          <span>产品名称:康师傅水</span><br>
           <span>规格:550ml*24瓶 整箱</span><br>
          </div>
          <div class="price">
           <span>单价:18元</span>
           </div>
          </a>
          </div>
        </li>

        <li>
           <div class="warp">
          <a class="title-link" href="">
          <div class="image">
          <img  src="/static/images/ksf_010.jpg" width="180" height="200">
          </div>
          <div class="contain">
          <span>产品名称:康师傅 茉莉清茶</span><br>
           <span>规格:600ml</span><br>
          </div>
          <div class="price">
           <span>套餐价格:4=8.5元</span>
           </div>
          </a>
          </div>
        </li>


    </ul>
</div>
{% endblock %}
</body>
</html>