{% extends "proprietor_base.html" %}
{% block title %}个人中心{% endblock %}
{% block css %}
    <style>
        .um_mp_box .table th {
            text-align: left;
            font-weight: normal;
            width: 88px;
        }

    </style>

{% endblock %}
{% block container %}
    <div class="umMid el_w_495 fn_left">
        <div class="umConBox">
            <div class="umConBox_titBox">
                <span class="title">修改密码</span>
            </div>
            <div class="umConBox_conBox">
                <!-- 表格 start -->
                <form id="yw0" action="/update/password/" method="post">
                    <div class="um_mp_box">
                        <table class="table" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>原来密码：</th>
                                <td>
                                    <input class="el_inText" placeholder="旧密码" name="old_password"
                                           id="CustomerForm_oldPwd" type="password"/>
                                    {% if error3 %}
                                           <span style="color:red;" class="help-inline error tip">{{ info }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>新&nbsp;密&nbsp;码：</th>
                                <td>
                                    <input class="el_inText" placeholder="新密码" name="new_password"
                                           id="CustomerForm_password" type="password"/>
                                    {% if error2 %}
                                           <span style="color:red;" class="help-inline error tip">{{ info }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>重复密码：</th>
                                <td>
                                    <input class="el_inText" placeholder="重复密码" name="repeat_password"
                                           id="CustomerForm_repeatPwd" type="password"/>
                                    {% if error1 %}
                                           <span style="color:red;" class="help-inline error tip">{{ info }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        <div class="btns btns_s1">
                            <button class="el_btn_gray_xssl el_btn" ><span
                                    class="txt">修改密码</span></button>
                        </div>
                    </div>
                </form>
                <!-- 表格 end -->
            </div>
        </div>
        <!-- 修改密码 end -->

        <!-- 我的物业 start -->
        <div class="umConBox">
            <div class="umConBox_titBox">
                <span class="title">我的物业</span>
                        <span class="title" style="float: right;padding-right: 15px;">
                            <a href="/propertyAddress">更多</a>
                        </span>
            </div>
            <div class="umConBox_conBox">
                <!-- 表格 start -->
                <div class="dataTableBox_s4">
                    <table class="dataTable_s4" cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>姓名</th>
                            <th>物业信息</th>
                            <th width="170px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="4">没有数据</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 表格 end -->
            </div>
        </div>
        <!-- 我的物业 end -->

        <!-- 我的停车卡 start -->
        <div class="umConBox">
            <div class="umConBox_titBox">
                <span class="title">我的停车卡</span>
                <span class="title" style="float: right;padding-right: 15px;"><a href="/parkingAddress">更多</a></span>
            </div>
            <div class="umConBox_conBox">
                <!-- 表格 start -->
                <div class="dataTableBox_s4">
                    <table class="dataTable_s4" cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>车牌号</th>
                            <th>物业信息</th>
                            <th width="170px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="4">没有数据</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- 表格 end -->
            </div>
        </div>
    </div>
{% endblock %}