{% extends "baseheader.html" %}

{% block css %}
<style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
.contain{border: 1px solid#e3e3e3;width: 800px;margin: 30px auto 50px}
.contain-title span{display: block;padding: 8px 0 8px 15px}
.contain-body{border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;background-color: #fff;padding: 40px 0 20px 30px;height: 240px}
.contain-footer{background: #fff;height: 60px}
#case-submit{width: 120px;height: 30px;background-color: #ff3c3c;border: none;color: #fff;margin: 12px 0 0 35px;border-radius: 4px;}
.contain-detail {padding:7px 0}
.detail-name{display: block; width: 140px; text-align: right;}
.detail-contain{display: block;margin: -20px 0 0 150px;float: left}
#cash{color: #ff0000}
</style>
{% endblock %}

{% block container %}
<div class="contain">
<div class="contain-title">
<span>微水洗车费</span>
</div>
<form method="post" target="_blank" action="/chinapay/payout/">
{% csrf_token %}
<div class="contain-body">
<div class="contain-detail">
<input type="hidden" name="service_name" value=" 微水洗车">
<span class=" detail-name">选择付费方式:</span><span class="detail-contain" id="washing_type" value={{ washing_type }}>
    {% ifequal washing_type "1" %}单次:{{ single_fee }}元/次{% endifequal %}
    {% ifequal washing_type "2" %}包月:{{ month_fee }}元/月,10次/月{% endifequal %}
    {% ifequal washing_type "3" %}包季:{{ season_fee }}元/月,10次/月{% endifequal %}
    {% ifequal washing_type "4" %}包月:{{ year_fee }}元/次,10次/月{% endifequal %}
</span>
</div>

{% if month_status %}
<div class="contain-detail">
<span class=" detail-name">选择洗车方案:</span><span  class="detail-contain" id="washing_case" value={{ washing_case }}>
    {% ifequal washing_case "1" %}方案一{% endifequal %}
    {% ifequal washing_case "2" %}方案二{% endifequal %}
    {% ifequal washing_case "3" %}方案三{% endifequal %}
</span>
 </div>
  <div class="contain-detail" >
<span class=" detail-name">选择洗车起始时间:</span><span class="detail-contain" id="single-time" value={{ start_time }}>{{ start_time }}</span>
</div>
{% endif %}

 {% if single_status %}
 <div class="contain-detail" >
<span class=" detail-name">单次洗车时间:</span><span class="detail-contain" id="month-time" value={{ start_time }}>{{ start_time }}</span>
</div>
{% endif %}

 <div class="contain-detail">
<span class=" detail-name">车牌号:</span><span class="detail-contain" id="car_num" value={{ car_num }}>{{ car_num }}</span>
 </div>

 <div class="contain-detail">
<span class=" detail-name">应付金额:</span><span  class="detail-contain" id="total_money"  >
      {% ifequal washing_type "1" %}{{ single_fee }}元{% endifequal %}
    {% ifequal washing_type "2" %}{{ month_fee }}元{% endifequal %}
    {% ifequal washing_type "3" %}{{ season_fee }}元{% endifequal %}
    {% ifequal washing_type "4" %}{{ year_fee }}元{% endifequal %}
</span>
 </div>

</div>
<input type="hidden" name="order_number" value="{{ order_number }}">
<div class="contain-footer">
<input type="submit" value="提交" id="case-submit" />
</div>
</form>
</div>



{% endblock %}

{% block script %}
<script>
var service_name="微水洗车"



</script>

{% endblock %}