{% extends "baseheader.html" %}
{% block title %}快递管理{% endblock %}
{% block css %}
    <link href="/static/css/jquery-ui-1.7.2.custom.css" rel="stylesheet">
    <style>
      .ui-datepicker {
            margin-left: -90px;
        }

        .help-inline {
            display: block;
            margin-left: 70px;
            padding-top: 10px;
        }

        .error {
            color: #f00;
        }

        input.error {
            border-color: #f00;
        }

        .repair1, span, button {
            font-size: 15px;

        }

        .modal-body ul li {
            float: left;
            padding-left: 43px;
            padding-top: 20px;

        }

        .rate-standard {
            margin-left: 144px;
        }

        .rate-standard span {
            padding-left: 25px;
        }

        .pleased {
            margin-left: 35px;
            width: 100px;
            padding-left: 25px;
            margin-top: -18px;
            float: left;
        }

        .sr-shop-rating {
            float: left;
            margin-top: -20px;
        }

        tr:first-child {
            background-color: #A674B0;
        }
        .vessel {
            border: 0px solid #dadada;!important
        }
        /* tr:hover {
             background-color: #A674B0;
         }*/

        .prev {
            margin-left: 200px !important;
        }

        .next {
            margin-left: 20px !important;
        }

        .dataTables_wrapper {
            padding-left: 0px !important;
        }

        .dataTables_paginate {
            float: right;
            margin-top: -20px;
        }

        .dataTables_paginate li {
            float: left
        }

        .dataTables_filter {
            float: right;
            margin-top: -25px
        }

        .container {
            width: 1260px !important;
        }

    </style>
{% endblock %}
{% block container %}
    <!-- 中部 start -->
    <!-- 主要内容区域 start -->
    <div class="s_ifs_ix el_container">
        <div class="el_blank_h20"></div>
        <div class="el_w_974 fn_right">
            <!-- vessel start -->
            <div class="vessel vessel_s1">
                <div style="width: 972px;float: left">
                    <div class="vessel vessel_s1" style="margin-bottom: 10px">
                        <div class="vessel_titBox" style="border: 1px solid #dadada;"><span class="tit">快件管理</span></div>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable"
                           id="example" aria-describedby="example_info">
                        <thead>
                        <tr role="row">
                            <th></th>
                            <th style="width: 250px">收件人</th>
                            <th style="width: 170px">到达时间</th>
                            <th style="width: 170px">取件时间</th>
                            <th>取件方式</th>
                            <th>取件状态</th>
                            <th style="width: 30px">满意度</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for express in expresses %}

                            <tr class="except_one">
                                <td><input type="checkbox" name="chk" id={{ express.id }}></td>
                                <td>
                                    <span>{{ express.author.community.title }}</span>小区，
                                    <span>{{ express.author.floor }}</span>幢，
                                    <span>{{ express.author.gate_card }}</span>房间，户主：
                                    <span>{{ express.author.profile.username }}</span>
                                </td>
                                <td>{{ express.arrive_time| date:"Y-m-d H:i:s" }}</td>
                                <td>{{ express.get_time | date:"Y-m-d H:i:s" }}</td>
                                <td id="type_{{ express.id }}">{{ express.type }}</td>
                                <td class="deal_status" id="status_{{ express.id }}">
                                    {% if express.status %}
                                        <span style="color: green">已签收</span>
                                    {% else %}
                                        <button class='btn'
                                          name={{ one_complain.id  }}
                                          onclick="delete_complain_single(this)"
                                          id="delete_complain_single_{{ one_complain.id  }}"
                                          style=" background: url('/static/images/get_express.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                                          width: 67px;height: 28px;
                                          margin-left: 22px;
                                          margin-top: 5px">
                                      </button>
                                    {% endif %}
                                </td>
                                <td>


                                    {% if express.status %}
                                       {% if express.pleased == 0 %}
                                            <button class="btn"  data-toggle="modal"
                                               data-target="#response_{{express.id  }}">满意反馈</button>
                                        {% else %}
                                            {% if express.pleased ==  1 %}
                                                <span>满意</span>
                                            {% elif express.pleased == 2 %}
                                                <span>一般</span>
                                            {% elif express.pleased == 3 %}
                                                <span>差</span>
                                            {% endif%}
                                       {% endif %}
                                    {% else %}
                                        <span style="color: red">暂无</span>
                                    {% endif %}

                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            <div style="float: right">
                    <span>领取方式：</span>
                    <select id="select_express_type">
                        <option value="自己领取">自己领取</option>
                        <option value="物业派送">物业派送</option>
                    </select>

                    <div style="margin-top: 10px">
                        <span>领取时间：</span>
                        <input type="text" name="datetime" id="datetime" value=""/>
                    </div>

                    <div style="margin-top:12px; ">
                        <button class="btn btn-primary" style="border-radius: 0px 0px 0px 0px;" id="get_my_express"
                                onclick="get_my_express()">
                            <span> 领取</span>
                        </button>
                        <button class="btn btn-primary" data-toggle="modal" style="border-radius: 0px 0px 0px 0px;"
                                data-target="#express_response">
                            <span> 满意度反馈</span>
                        </button>
                        <div class="modal fade" id="express_response" tabindex="-1"
                             role="dialog" aria-labelledby="ModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="ModalLabel">
                                            服务满意度反馈</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>您对商家的服务评价</h3>
                                                    <span class="rate-standard-border rate-standard-show leftoffset">

                                                        <div class="rate-standard">
                                                            <span>失望</span>
                                                            <span>不满</span>
                                                            <span>一般</span>
                                                            <span>满意</span>
                                                            <span>惊喜</span>
                                                        </div>

                                                    </span>

                                        <div class="pleased">
                                                        <span class="sr-title sr-big-title">
                                                            <span class="text">服务态度：</span>
                                                        </span>
                                        </div>
                                        <div class="sr-shop-rating " id="radio">
                                            <ul class="sr-rating-level">
                                                <li><input value="1" name="radiobutton" type="radio"></li>
                                                <li><input value="2" name="radiobutton" type="radio"></li>
                                                <li><input value="3" name="radiobutton" type="radio"></li>
                                                <li><input value="4" name="radiobutton" type="radio"></li>
                                                <li><input value="5" name="radiobutton" type="radio"></li>
                                            </ul>
                                        </div>
                                        <div style="margin-top: 50px">
                                            <textarea id="textarea"
                                                      style="line-height: normal;width:550px;height: 100px"
                                                      placeholder="你可以对此次服务做出综合性的评论...."></textarea>
                                            <button style="width: 90px;border-radius: 0px 0px 0px 0px;margin-left: 35px;margin-top:32px;"
                                                    class="btn"
                                                    onclick="submit_express_data(this)">提交
                                            </button>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            关闭
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
         </div>
            <!-- vessel end -->


        <div class="el_blank_h10 fn_clear"></div>
        <div class="el_blank_h50 fn_clear"></div>
    </div>

    <!-- page -->


{% endblock %}
{% block script %}
    <script type="text/javascript">

        function get_my_express() {
            var checked_array = new Array();
            $('input[type="checkbox"][name="chk"]:checked').each(
                    function () {
                        var id = $(this).attr('id');
                        checked_array.push(id);
                    }
            );
            var get_express_type = $('#select_express_type').val();
            var get_express_time = $('#datetime').val();
            //alert(get_express_time);
            if (checked_array.length > 0) {
                $.post('/userself/get_express/',
                        {
                            'selected_express_string': checked_array.toString(),
                            'get_express_type': get_express_type,
                            'get_express_time': get_express_time
                        },
                        function (data) {
                            if (data.success) {
                                alert(data.info);
                                $('input[type="checkbox"][name="chk"]:checked').each(
                                        function () {
                                            var id = $(this).attr('id');
                                            $("#type_" + id + "").html("<span style='color: green' >" + data.express_type + "</span>");
                                        }
                                );
                            }
                            else {
                                alert(data.info);
                            }
                        }
                )
            } else {
                alert("请选择处理数据");
            }
        }

        function submit_express_data(obj) {
            var response_content = $("#textarea").val();
            var selected_radio = $('input[type="radio"]:checked').val();
            var checked_array = new Array();
            $('input[type="checkbox"][name="chk"]:checked').each(
                    function () {
                        var id = $(this).attr('id');
                        checked_array.push(id);
                    }
            );
            if (selected_radio && checked_array.length > 0) {
                $.post('/express/response/',
                        {
                            'selected_express_string': checked_array.toString(),
                            response_content: response_content,
                            selected_radio: selected_radio
                        },
                        function (data) {
                            if (data.success) {
                                alert(data.info);
                                window.location.href = "/express/";
                            }
                        }
                )
            } else {
                alert("请选择评价快件和满意度");
            }

        }

        $(document).ready(function () {
            $('#datetime').datepicker({
                duration: '',
                showTime: true,
                constrainInput: false
            });
        });

        $(document).ready(function () {

            $('#example').dataTable({
                "oLanguage": {
                    "sLengthMenu": "显示 _MENU_每页显示记录",
                    "sZeroRecords": "对不起没有你要找的记录",
                    "sInfo": "显示 _START_ 到 _END_ 总共 _TOTAL_ 条记录",
                    "sInfoEmpty": "显示 0 到 0 总共 0 记录",
                    "sInfoFiltered": "(从 _MAX_条记录中查找)",
                    "sSearch": "搜索:"
                }
            });
        });
        jQuery(function ($) {
            $.datepicker.regional['zh-CN'] = {
                closeText: '确定',
                prevText: '<上月',
                nextText: '下月>',
                currentText: '今天',
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                    '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['一', '二', '三', '四', '五', '六',
                    '七', '八', '九', '十', '十一', '十二'],
                dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
                dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                weekHeader: '周',
                dateFormat: 'yy-mm-dd',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: true,
                yearSuffix: '年'};
            $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
        });
    </script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/DT_bootstrap.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/timepicker.js"></script>
{% endblock %}