{% extends "baseheader.html" %}
{% block title %}停车缴费{% endblock %}
{% block css %}
{% endblock %}
{% block container %}
    <div class="s_ifs_ix main el_container">
        <div class="el_blank_h20"></div>
        <!-- 右侧栏 start -->
        <div class="el_w_974 fn_right">
            <!-- vessel start -->
            <div class="vessel vessel_s1">
                <div class="vessel_titBox">
                        <span class="tit">
                            停车费
                        </span>
                </div>
                <div class="vessel_conBox">
                    <!--缴费步骤 start-->
                    <div class="vessel_conBox_step2">
                        <div class="vessel_conBox_step_head">
                                        <span class="stepName stepName_s1">
                                           <a href="javascript:history.go(-1);" style="color: #ffffff">
                                               私家车
                                           </a>
                                        </span>
                                        <span class="stepName stepName_s2">
                                            车位
                                        </span>
                                        <span class="stepName stepName_s3">
                                            在线支付
                                        </span>
                                        <span class="stepName stepName_s4">
                                            支付成功
                                        </span>
                        </div>
                    </div>

                    <form method="post" action="/property/parkingOrder/" name="parking-form"
                          onsubmit="return check_select()">
                        <div class="vessel_conBox_text">
                            <div class="last_text_box2">
                                <p>
                                    小&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    区：{{ profile.community.title }}&nbsp;&nbsp;{{ profile.floor }}栋{{ profile.gate_card }}号
                                </p>

                                <p>
                                    <span>上次缴费有效期：</span>{{ park_fee.pay_date|date:"Y-m-d" }}至{{ park_fee.deadline |date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
                                    <span>车位号</span>{{ park_fee.position_num }}&nbsp;&nbsp;&nbsp;
                                </p>
                                <p>
                                    <span>缴费类型：</span>{{ park_fee.pay_type }}一交&nbsp;&nbsp;&nbsp;
                                </p>

                                <p>
                                    车位类型：{{ park_fee.park_type }}&nbsp;&nbsp;&nbsp;
                                </p>
                                <p>
                                    可更改续费时长：
                                    <select name="period_parking" id="period_for_parking">
                                        <option value="1">请选择续费时间</option>
                                        <option value="6"onclick="change_delay_time(this)">半年</option>
                                        <option value="12"onclick="change_delay_time(this)">一年</option>
                                    </select>
                                </p>
                                <p>
                                    缴费金额：<span class="txt"> ￥
                                                <span id="amount_span_for_parking"listPrice="0">{{ pay_money}}</span>
                                                <input type="hidden" name="park_fee_id" value="{{park_fee.id }}"/>
                                              </span>
                                </p>
                            </div>
                            <div class="line"></div>
                            <div class="vessel_conBox_text_button" style="padding:20px 0 4px 0;">
                                <input type="submit" value="提交清单" id="parkingBtn" class="el_btn_orange_xsl el_btn"/>
                            </div>
                            <div class="line"></div>

{#                            <div class="last_text_box">#}
{#                                    <span class="vessel_conBox_step_head1">#}
{#                                        注意事项：#}
{#                                    </span>#}
{##}
{#                                <p>#}
{#                                    1、如您的停车卡是老卡，缴费成功后请到管理处激活；#}
{#                                </p>#}
{##}
{#                                <p>#}
{#                                    2、您可以到管理处更换新卡；#}
{#                                </p>#}
{##}
{#                            </div>#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="serverBar_box el_container"></div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function check_select() {
            var s = document.getElementById("type_for_parking");
            s = s.selectedIndex;
            var s1 = document.getElementById("period_for_parking");
            s1 = s1.selectedIndex;
            if (s == 0 || s1 == 0) {
                alert('请选择相关信息');
                return false;
            }
            else {
                return true;
            }
        }
    function change_delay_time(obj){
        if($(obj).val()==6){
            $('#amount_span_for_parking').html(parseFloat({{total_money }})/2)
        }
        else{
            $('#amount_span_for_parking').html({{total_money }})
        }
    }
    </script>
{% endblock %}
